@import url(app.css);

.chat {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 15px;
  padding: 1rem 2rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
   background-color: rgb(92, 118, 213);

}

.chat__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gear-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.chat__box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  height: 100%;
  overflow: auto;
}

.single-chat {
  display: flex;
  gap: 0.4rem;
 
}

.single-chat__pic {
  width: 2.5%;
}

.single-chat__pic img {
  width: 100%;
  border-radius: 50%;
}

.single-chat__content {
  flex-direction: column;
  background-color:rgb(122, 118, 118);
  padding: 0.7rem;
  border-radius: 5px;
  color: var(--secondary-color);
  justify-content: flex-start;

}

.single-chat__content p {
  display: flex;
  align-items: center;
  margin: auto;
}

.own__chat {
  justify-content: flex-end;
}
