@import url(app.css);

.usercard {
  border: 1px solid grey;
  display: flex;
  gap: 1rem;
  border-radius: 8px;
  padding: 0.5rem 0.5rem;
  color: black;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  margin-left:8px;
}




.usercard:hover {
  background-color: rgb(197, 197, 197);
}

.selected-card {
background-color:red;
}

.usercard__image {
  border-radius: 15px;
  position: relative;
}

.usercard__image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.usercard__image span {
  position: absolute;
  top: 1%;
  right: -8%;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.usercard__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}




